.pfp{
    margin-right: 40px;
}
.pfp > img{
    border: solid 4px var(--primary-color-pink);
    border-radius: 50px;
    object-fit: cover;
}

.about-information{
    display: flex;
    flex-direction:row;
}
.link-container{
    text-decoration: none !important;
    cursor: pointer;
    transition: ease-in-out .1s;
    align-items: space-between !important;
}
.link-container:hover{
    transform: scale(1.05);
}

@media (max-width: 900px){
    .about-information{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    .information > h1{
        text-align: center;
    }
  }

  @media (max-width: 1000px){
    body{
        padding-bottom: 200px !important;
    }
  }